@media screen and (min-width: 401px) and (max-width: 700px) {
    nav a.pull {
        height: 30px;
        display: inline-block;
        right: 15px;
        top: 10px;
        color: #fff;
        font-size: 2em;
        width: 70%;
        text-align: right
    }

    nav ul.menu {
        height: auto;
        position: absolute;
        margin: 0;
        top: 2em;
        right: 0;
    }

    nav ul.menu li {
        display: block;
        background: #000;
        text-align: center;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border-top: 1px solid #4d4d4d;
    }

    nav ul.menu li:hover {
        background-color: #4c4c4c;
        transition: 0.3s;
    }

    nav ul.menu a {
        color: #fff;
        padding: 0 3.5em;
        width: 100%;
    }

    nav ul.menu.hidden-menu {
        display: none;
    }

    nav ul.menu.display-menu {
        display: block;
    }

    /*nav ul.menu li {
        font-size: 0.9em
    }

    nav ul.menu li a {
        padding: 0.8em 0.3em
    }*/

    input[type=button].btn-small,
    input[type=submit].btn-small {
        width: 46%;
        float: left;
        margin: 0.2em 2%;
    }
}